body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    color: white; 
}

.container {
    background-color: #0a0a0a;
    border: white;
    border-style: dashed;
    border-width: 3px;
    color: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 300px; 
}

.headername {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    gap: 10px; 
}

.headername h1 {
    margin: 0; 
    font-size: 2em;
}

/* Horizontal Line Styling */
.my-line {
    border: none;
    border-top: 2px solid white; 
    margin-bottom: 15px; 
    width: 100%; 
}


.active-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 20px; 
}

.hidden-section {
    display: none; 
}

.hidden-section1 {
    display: none; 
}



/* Styling for input groups */

.input-group {
    display: flex;
    flex-direction: column;
    width: 90%; 
    max-width: 300px; 
}

.input-group label {
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="number"] {
    padding: 12px;
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="number"]:focus {
    border-color: #caced2;
}


#get-started-btn {
    background-color: black;
    color: white;
    border: white;
    border-width: 1px;
    width: 120px;
    height: 70px;
    border-style: solid;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
}
.button-group {
    display: flex;
    justify-content: space-around; 
    width: 90%; 
    max-width: 300px; 
    margin-top: 10px;
    
    
}
.action-btn {

    color: rgb(239, 234, 234);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    flex-grow: 1; 
    margin: 0 5px; 
}
#clear-btn {
    background-color: #100f0f; 
    border-color: #f8f0f0;
}

#clear-btn:hover {
    background-color: #90898a;
    border-color: #f8f0f0;
}

#enter-btn {
 background-color: #100f0f; 
    border-color: #f8f0f0;
}

#enter-btn:hover {
    background-color: #036f1d;
    border-color: #f8f0f0;
}

